$corHeader1: #7F69BB;
$corHeader2: #B9B5E8;
$corButton: #7F69BB;
$corTextoButton: #F1DFDA;
$corFundoData: #F1DFDA;


$description1: #b9b5e8;
$description2: #dea2c5;
$description3: #7F69BB;
$corFundoDescriptions: #F1DFDA;